
<h1>My name is <%= @cat_name %> </h1>

<p>Please name this adorable kitten:</p>

<form>
  <input type='radio' name='name' value ='Josie'> Josie<br>
  <input type='radio' name='name' value ='Will'> Will<br>
  <input type='radio' name='name' value ='Luke'> Luke<br>
  <input type='radio' name='name' value ='Albion'> Albion<br>
  <input type='radio' name='name' value ='Toby'> Toby<br>
  
  <br>
  <input type='submit' value='Submit'>
</form>

<div style= 'border: 3px dashed lightgreen;'>
  <img src='http://bit.ly/1eze8aE'>
</div>
